@import url(https://fonts.googleapis.com/css?family=Sixtyfour);

body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

form {
    padding: 30px;
}

label {
    padding: 10px;
    display: block;
    margin-right: 20px;
    font-family: Sixtyfour;
}

.divider {
    margin-bottom: 15px;
    margin-top: 15px;
}

h1 {
    font-size: 60px;
    font-family: Sixtyfour;
    line-height: 120px;

}

button {
    background-color: #04AA6D; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: Sixtyfour;
    margin-right: 20px;
  }

  button:hover {
    background-color: #00794d;
  }

  #daforums {
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }

  .input1, .input2, .input3, .input4 {
    border-radius: 1px;
    height: 26px;
    margin-right:20px;
    margin-bottom: 10px;
    padding: 0px 6px;
  }

  @media only screen and (max-width: 912px) {
    body {
        text-align: center;
      }
    #daforums {
        margin-top: 20px;
    }
  }

